In [1]:
import pandas as pd
from dotenv import load_dotenv
import os
from sqlalchemy import create_engine

load_dotenv()

True

In [2]:
# Debugging: Print the connection string
connection_string = os.getenv("RSR_SVC_CONN")
# print("RSR_SVC_CONN:", connection_string)

# Test the connection
try:
    engine = create_engine(connection_string)
    with engine.connect() as connection:
        print("Connection to the database was successful!")
except Exception as e:
    print(f"Failed to connect to the database: {e}")
    exit(1)

Connection to the database was successful!

In [3]:
df_atlanta_sql = pd.read_sql("select * from auto.test_summary_reporting where collection_set_id = 12319;",
                           con=os.getenv('RSR_SVC_CONN'))

print(df_atlanta_sql)

       product_period_id product_period  collection_set_id
0                     36        2024-2H              12319  \
1                     36        2024-2H              12319
2                     36        2024-2H              12319
3                     36        2024-2H              12319
4                     36        2024-2H              12319
...                  ...            ...                ...
93935                 36        2024-2H              12319
93936                 36        2024-2H              12319
93937                 36        2024-2H              12319
93938                 36        2024-2H              12319
93939                 36        2024-2H              12319

           collection_set  test_event_id  device_event_id  collection_area_id
0      Atlanta-GA_2024-2H      196895201       6501254168                  39  \
1      Atlanta-GA_2024-2H      196895203       6501254308                  39
2      Atlanta-GA_2024-2H      196895204       6501254314                  39
3      Atlanta-GA_2024-2H      196895205       6501254354                  39
4      Atlanta-GA_2024-2H      196895206       6501254366                  39
...                   ...            ...              ...                 ...
93935  Atlanta-GA_2024-2H      197130753       6512121581                  39
93936  Atlanta-GA_2024-2H      197158654       6513078148                  39
93937  Atlanta-GA_2024-2H      197172079       6513540674                  39
93938  Atlanta-GA_2024-2H      197171499       6513500409                  39
93939  Atlanta-GA_2024-2H      197177252       6513815242                  39

       collection_type_id  carrier_id   carrier  ...  access_success
0                       1           3  T-Mobile  ...             1.0  \
1                       1           1      AT&T  ...             1.0
2                       1           1      AT&T  ...             1.0
3                       1           4   Verizon  ...             1.0
4                       1           3  T-Mobile  ...             1.0
...                   ...         ...       ...  ...             ...
93935                   1           4   Verizon  ...             1.0
93936                   1           4   Verizon  ...             1.0
93937                   1           4   Verizon  ...             1.0
93938                   1           4   Verizon  ...             1.0
93939                   1           4   Verizon  ...             1.0

       task_success  avg_lte_rsrp  avg_lte_rssnr  avg_nr_ss_rsrp
0               1.0           NaN            NaN     -103.000000  \
1               1.0    -98.000000           9.00             NaN
2               1.0   -100.333333           1.00     -108.000000
3               1.0   -113.600000          -1.60     -117.500000
4               1.0    -93.150000           3.55      -87.000000
...             ...           ...            ...             ...
93935           1.0    -79.000000           9.75      -64.333333
93936           1.0    -91.000000          24.75      -89.500000
93937           1.0    -97.250000           4.25      -90.500000
93938           1.0    -80.750000          11.50      -79.000000
93939           1.0    -86.500000           7.75      -73.000000

       avg_nr_ss_sinr        ts_prod_insert_time        ts_prod_update_time
0           13.000000 2024-09-06 19:00:59.882094 2024-09-06 19:00:59.882094  \
1                 NaN 2024-09-06 19:00:55.177337 2024-09-06 19:00:55.177337
2            7.000000 2024-09-06 19:00:56.367486 2024-09-06 19:00:56.367486
3           -0.500000 2024-09-06 19:01:01.156519 2024-09-06 19:01:01.156519
4            6.000000 2024-09-06 19:00:58.825965 2024-09-06 19:00:58.825965
...               ...                        ...                        ...
93935       28.666667 2024-09-06 19:01:03.012405 2024-09-06 19:01:03.012405
93936       26.500000 2024-09-06 19:01:03.012712 2024-09-06 19:01:03.012712
93937       20.000000 2024-09-06 19:01:03.013415 2024-09-06 19:01:03.013415
93938       23.500000 2024-09-06 19:01:03.015373 2024-09-06 19:01:03.015373
93939       28.500000 2024-09-06 19:01:03.016914 2024-09-06 19:01:03.016914

              ts_reporting_insert_time  collection_set_status_id_tsr
0     2024-09-07 00:00:45.117745+00:00                            11
1     2024-09-07 00:00:45.117745+00:00                            11
2     2024-09-07 00:00:45.117745+00:00                            11
3     2024-09-07 00:00:45.117745+00:00                            11
4     2024-09-07 00:00:45.117745+00:00                            11
...                                ...                           ...
93935 2024-09-07 00:00:45.117745+00:00                            11
93936 2024-09-07 00:00:45.117745+00:00                            11
93937 2024-09-07 00:00:45.117745+00:00                            11
93938 2024-09-07 00:00:45.117745+00:00                            11
93939 2024-09-07 00:00:45.117745+00:00                            11

[93940 rows x 34 columns]